.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1170px;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 5% 0;
  margin-bottom: 28px;
}

.logo {
  background: url("../img/Axion-logo-1.png") no-repeat;
  height: 55px;
  width: 55px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  flex: 0.3;
}

.nav-menu__link {
  font: bold normal 12px/11px "Gotham Pro";
  transition: 300ms linear;
  transform: scale(1);
  margin: 0 5px;
 }

.nav-menu__link:visited {
  color: #000;
}

.nav-menu__link:hover {
  transform: scale(1.2);
}

.side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.4;
}

.search {
  border: none;
  border-bottom: solid 1px;
  padding: 0;
  outline: none;
  min-width: 177px;
}

.search-label {
  position: relative;
}

.search-label::after {
  content: "";
  background: url("../img/search.png") no-repeat;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1px;
  height: 14px;
  width: 14px;
}

.entrance-label,
.cart-label,
.language-label {
  transition: 300ms linear;
  transform: scale(1);
  position: relative;
}

.cart-label {
  margin-right: 20px;
}

.cart-label::after {
  content: "1";
  color: #fff;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 45px;
  height: 15px;
  width: 15px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
  font: bold normal 10px/10px "Gotham Pro";
}

.entrance-label:hover,
.cart-label:hover,
.language-label:hover {
  transform: scale(1.2);
}

.entrance,
.cart,
.language {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: bold normal 12px/11px "Gotham Pro";
}

.language {
  display: flex;
  background: url("../img/language.svg") no-repeat;
  height: 20px;
  width: 20px;
}

.main-page {
  padding: 0 5%;
}

.main-page__head {
  background: url("../img/rob-potter-unsplash.png") no-repeat;
  background-size: cover;
  width: 100%;
  padding: 90px 0 75px 59px;
  margin-bottom: 53px;
  box-sizing: border-box;
}

.title {
  color: #fff;
  margin: 0 0 15px 0;
  font: bold normal 30px/29px "Gotham Pro";
  text-transform: uppercase;
}

.shop-button {
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font: bold normal 12px/11px "Gotham Pro";
  text-transform: uppercase;
}

.shop-button-wrap {
  position: relative;
  transition: 300ms linear;
  transform: scale(1);
  width: 130px;
}

.shop-button-wrap::after {
  content: "";
  background: url("../img/Arrow.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: 7px;
  height: 10px;
  width: 46px;
}

.shop-button-wrap:hover {
  transform: scale(1.1);
}

.recommended__title {
  margin: 0 auto 15px;
  text-align: center;
  text-transform: uppercase;
  font: bold normal 22px/21px "Gotham Pro";
}

.recommended__products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}


.product {
  margin: 0 6px;
}

.product__picture {
  margin: 0 auto 23px;
  height: 173px;
  width: 187px;
}

.product__name {
  margin: 0 0 10px 0;
  font: normal normal 12px/11px "Gotham Pro";
}

.product__specifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin: 0;
  font: bold normal 14px/13px "Gotham Pro";
}

.color {
  display: flex;
  align-items: center;
}

.color__circle {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin-left: 8px;
}

.color-grey {
  background: #C4C4C4;
}

.color-black {
  background: #0E1211;
}

.color-red {
  background: #B62E3C;
}

.color-yellow {
  background: #FDB431;
}

.color-beige {
  background: #E29D69;
}

.color-vinous {
  background: #762E31;
}

.color-blue {
  background: #41479B;
}

.color-lightblue {
  background: #257DA9;
}

.color__main {
  height: 9px;
  width: 9px;
}

.product__picture-atlasblack {
  background: url("../img/Atlas-Black-Rasta-Axion.png") no-repeat;
}

.product__picture-camel {
  background: url("../img/Camel-Chili-Pepper-Axion.png") no-repeat;
}

.product__picture-mandelsmoke {
  background: url("../img/Mandel-Smoke-Rust-Axion.png") no-repeat;
}

.product__picture-cloud {
  background: url("../img/Cloud-Electric-Blue-Axion.png") no-repeat;
}

.video-clip {
  padding: 0 5%;
  margin-bottom: 80px;
}

.video-clip-wrap  {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 4% 74px;
}

.clip {
  height: 100%;
  width: 65%;
  margin-right: 50px;
}

.clip-content {
  color: #fff;
}

.clip-content__title {
  font: bold normal 22px/27px "Gotham Pro";
  text-transform: uppercase;
}

.clip-content__text {
  font: normal normal 14px/17px "Gotham Pro";
}

.learn-more__button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  font: bold normal 12px/11px "Gotham Pro";
  text-transform: uppercase;
}

.learn-more {
  cursor: pointer;
  position: relative;
  transition: 300ms linear;
  transform: scale(1);
  width: 130px;
}

.learn-more::after {
  content: "";
  background: url("../img/Arrow.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 7px;
  height: 10px;
  width: 46px;
}

.learn-more:hover {
  transform: scale(1.1);
}

.stories {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 80px;
}

.stories__recent {
  margin: 0 auto 40px;
  font: bold normal 22px/21px "Gotham Pro";
  text-transform: uppercase;
}

.stories__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: inherit;
  margin: 0 5px;
}

.story__picture {
  margin-bottom: 29px;
  height: 147px;
}

.story__picture-PresentsJustinAnagoa {
  background: url("../img/PresentsJustinAnagoa.png") no-repeat;
}

.story__picture-FirstFrontsideflip {
  background: url("../img/FirstFrontsideflip.png") no-repeat;
}

.story__picture-KevinBaekkelisPro {
  background: url("../img/KevinBaekkelisPro.png") no-repeat;
}

.story__title {
  margin: 0 0 8px 0;
  font: bold normal 18px/17px "Gotham Pro";
}

.story__text {
  margin: 0 0 18px 0;
  font: normal normal 17px/17px "Gotham Pro";
}

.story__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story__button-more {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: bold normal 12px/11px "Gotham Pro";
  text-transform: uppercase;
}

.story__button {
  position: relative;
  transition: 300ms linear;
  transform: scale(1);
  width: 130px;
}

.story__button::after {
  content: "";
  background: url("../img/Arrow-black.svg") no-repeat;
  background-size: contain;
  fill: black;
  cursor: pointer;
  position: absolute;
  top: 7px;
  height: 10px;
  width: 29px;
}

.story__button:hover {
  transform: scale(1.1);
}

.story__date {
  margin: 0;
  font: bold normal 12px/11px "Gotham Pro";
  opacity: 0.3;
}

.stories-photo__tag {
  margin: 0 0 8px 0;
  font: bold normal 18px/17px "Gotham Pro";
  text-transform: uppercase;
  text-align: right;
  opacity: 0.3;
}

.stories-photo__collection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stories__photo-img {
  min-width: 132px;
  max-width: 147px;
  object-fit: cover;
}

.footer {
  display: grid;
  background: #000;
  padding:  69px 150px 33px;
  position: relative;
}

.account {
  grid-column: 1/2;
  margin-bottom: 75px;
}

.customer-service {
  grid-column: 2/3;
  margin-bottom: 57px;
}

.miscellaneous {
  grid-column: 3/4;
  margin-bottom: 57px;
}

.newsletter-signup {
  grid-column: 4/5;
  margin-bottom: 60px;
}

.account__title,
.customer-service__title,
.miscellaneous__title,
.newsletter-signup__title {
  color: #fff;
  margin: 0 0 10px 0;
  font: bold normal 12px/11px "Gotham Pro";
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav__link {
  color: #fff;
  cursor: pointer;
  font: normal normal 12px/11px "Gotham Pro";
  margin-bottom: 6px;
  transition: 300ms linear;
  transform: scale(1);
}

.footer-nav__link:hover {
  transform: scale(1.1);
}

.newsletter-signup__subtitle {
  color: #fff;
  margin: 0 0 11px 0;
  font: normal normal 12px/11px "Gotham Pro";
}

.newsletter-signup__button {
  background: none;
  border: solid #fff 1.5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  outline: none;
  width: 136.57px;
  height: 29.7px;
  font: bold normal 10px/10px "Gotham Pro";
  transition: 300ms linear;
  transform: scale(1);
  margin-bottom: 37px;
}

.newsletter-signup__button:hover {
  transform: scale(1.1);
}

.social-networks {
  display: flex;
}

.social-networks__facebook,
.social-networks__twitter,
.social-networks__instagram,
.social-networks__pinterest {
  height: 18px;
  width: 18px;
  margin-right: 22px;
  cursor: pointer;
  transition: 300ms linear;
  transform: scale(1);
}

.social-networks__facebook:hover,
.social-networks__twitter:hover,
.social-networks__instagram:hover,
.social-networks__pinterest:hover {
  transform: scale(1.1);
}

.social-networks__facebook {
  background: url("../img/facebook.png") no-repeat;
}

.social-networks__twitter {
  background: url("../img/twitter.png") no-repeat;
}

.social-networks__instagram {
  background: url("../img/instagram.png") no-repeat;
}

.social-networks__pinterest {
  background: url("../img/pinterest.png") no-repeat;
}

.footer__copyright {
  color: #fff;
  font: normal normal 12px/11px "Gotham Pro";
  grid-column: 1/5;
  justify-self: center;
  align-self: end;
  margin: 0;
  width: 198px;
}

.whs-logo {
  position: absolute;
  top: 80%;
  left: 90%;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .product {
    margin: 0 10px;
  }

  .clip {
    margin-right: 40px;
  }

  .stories {
    padding: 0 4.8%;
  }

  .stories-photo__collection {
    flex-wrap: wrap;
  }

  .stories__photo-img {
    max-width: 132px;
  }

  .recommended__products {
    flex-wrap: wrap;
    justify-content: center;
  }

  .whs-logo {
    left: 88%
  }
}

@media (max-width: 900px) {
  .search {
    min-width: 100px;
  }

  .search-label {
    margin-right: 20px;
  }

  .nav-menu__link {
    margin: 0 8px;
  }

  .product {
    margin: 0 50px;
  }

  .video-clip-wrap {
    padding: 50px 3% 36px;
  }

  .clip {
    margin-right: 20px;
  }

  .clip-content__title {
    font-size: 20px;
  }

  .story__picture {
    background-size: contain;
    height: 120px;
  }

  .footer {
    padding: 69px 100px 33px;;
  }
  .whs-logo {
    left: 87%;
  }
}

@media (max-width: 768px) {
  .nav-menu,
  .side-menu {
    display: none;
  }

  .main-page {
    padding: 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 61px;
    height: 34px;
  }

  .burger__line {
    display: block;
    height: 9px;
    width: 61px;
    background: #000;
  }

  .logo {
    background: url("../img/Axion-logo.png") no-repeat;
    width: 156px;
    height: 34px;
  }

  .main-page__head {
    padding: 112px 0 133px 30px;
    background-position: 20%;
  }

  .title {
    font: bold normal 50px/48px "Gotham Pro";
  }

  .shop-button {
    font: bold normal 20px/19px "Gotham Pro";
  }

  .recommended__title {
    font: bold normal 30px/29px "Gotham Pro";
  }

  .product__name {
    font: normal normal 20px/19px "Gotham Pro";
  }

  .price {
    font: bold normal 25px/24px "Gotham Pro";
  }

  .color__circle {
    width: 20px;
    height: 20px;
  }

  .product__picture {
    width: 228px;
    height: 233px;
    background-size: contain;
  }

  .shop-button-wrap::after {
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: -70px;
    height: 10px;
    width: 70px;
  }

  .product:nth-child(3),
  .product:nth-child(4),
  .story:nth-child(3),
  .learn-more {
    display: none;
  }

  .video-clip {
    padding: 0;
    margin: 0;
  }

  .video-clip-wrap {
    flex-direction: column-reverse;
    align-items: center;
    padding: 92px 4% 116px;
    background: linear-gradient(2.6deg, #000 90.9%, #fff 91%);
  }

  .clip {
    margin: 0;
  }

  .clip-content {
    text-align: center;
  }

  .clip-content__title {
    font: bold normal 30px/37px "Gotham Pro";
  }

  .clip-content__text {
    font: normal normal 20px/25px "Gotham Pro";
  }

  .clip {
    width: 90%;
  }

  .story {
    width: 41%;
    margin: 0 26px;
  }

  .stories__content {
    justify-content: center;
  }

  .story__picture {
    background-size: cover;
  }

  .stories {
    background: linear-gradient(2.6deg, #fff 10%, #000 10.1%);;
  }

  .stories__recent,
  .story__title,
  .story__text,
  .story__button-more,
  .story__date {
    color: #fff;
  }

  .story__button::after {
    background: url(../img/Arrow.svg) no-repeat;
    width: 46px;
  }

  .footer {
    padding: 60px 0 33px 50px;
  }

  .whs-logo {
    left: 80%;
  }
}

@media (max-width: 600px) {
  .stories__content {
    flex-wrap: wrap;
  }

  .story {
    margin-bottom: 30px;
    width: 80%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px 55px 32px;
  }

  .account,
  .customer-service,
  .miscellaneous,
  .newsletter-signup {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    align-items: center;
  }

  .newsletter-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-networks {
    justify-content: center;
  }

  .social-networks__facebook,
  .social-networks__twitter,
  .social-networks__instagram,
  .social-networks__pinterest {
    height: 22px;
    width: 22px;
    margin: 0 15px;
  }

  .footer__copyright {
    align-self: center;
  }

  .whs-logo {
    display: none;
  }
}

@media (max-width: 375px) {
  .head {
    padding: 24px 48px 0;
    margin-bottom: 26px;
  }

  .logo {
    width: 104px;
    height: 22px;
    background-size: contain;
  }

  .burger {
    width: 41px;
    height: 15px;
  }

  .burger__line {
    width: 41px;
    height: 5px;
  }

  .main-page__head {
    padding: 62px 0 62px 30px;
  }

  .title {
    font: bold normal 20px/19px "Gotham Pro";
  }

  .shop-button {
    font: bold normal 12px/11px "Gotham Pro";
  }

  .shop-button-wrap:after {
    right: 0;
    width: 45px;
  }

  .recommended__title {
    font: bold normal 20px/19px "Gotham Pro";
  }

  .product__name {
    font: normal normal 15px/14px "Gotham Pro";
  }

  .price {
    font: bold normal 20px/19px "Gotham Pro";
  }

  .product__picture {
    width: 162px;
    height: 165px;
  }

  .product {
    margin: 0;
  }

  .color__circle {
    width: 15px;
    height: 15px;
  }

  .story:nth-child(2),
  .product:nth-child(2){
    display: none;
  }

  .clip-content__title {
    font: bold normal 20px/25px "Gotham Pro";
  }

  .clip-content__text {
    font: normal normal 14px/17px "Gotham Pro";
  }

  .video-clip-wrap {
    padding-bottom: 104px ;
  }

  .stories__recent {
    font: bold normal 20px/19px "Gotham Pro";
  }

  .story__title {
    font: bold normal 20px/19px "Gotham Pro";
  }

  .story__text {
    font: normal normal 14px/17px "Gotham Pro";
  }

  .stories__photo-img {
    width: 140px;
    height: 140px;
  }
}
